@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
    background-color: #181818;
    color: white;
    text-align: center;
    overflow: hidden;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #cccccc;
  text-decoration: underline;
}