@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  
body {
    background-color: #181818;
    color: white;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #cccccc;
  text-decoration: underline;
}